<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Server Core" />
  </startup>
  <connectionStrings>
    <add name="MySqlDbConnectionString" connectionString="Server=localhost;Port=3306;Database=test;Uid=root;Pwd=123456;use procedure bodies=false;charset=utf8" />
  </connectionStrings>
  
  <configSections>
    <section name="activerecord"
             type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>

  <activerecord>
    <config>
      <add
        key="connection.driver_class"
        value="NHibernate.Driver.MySqlDataDriver" />
      <add
        key="dialect"
        value="NHibernate.Dialect.MySQLDialect" />
      <add
        key="connection.provider"
        value="NHibernate.Connection.DriverConnectionProvider" />
      <add
        key="connection.connection_string"
        value="Database=test;Data Source=localhost;User Id=ron;Password=123456" />
    </config>
  </activerecord>
</configuration>