<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Server Core" />
  </startup>
  <connectionStrings>
    <add name="MySqlDbConnectionString" connectionString="Server=localhost;Port=3306;Database=test;Uid=root;Pwd=123456;use procedure bodies=false;charset=utf8" />
  </connectionStrings>
</configuration>